/* Public */
@font-face {
    font-family: Eng;
    src: url(./font/Raleway/Raleway-Italic-VariableFont_wght.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: Eng;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

/* nav start */
.navbar {
    background-color: #7FC7FA;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_logo {
    font-size: 24px;
    color: white;
}

.navbar_menu {
    padding-left: 0px;
    display: flex;
}

.navbar_menu li {
    padding: 8px 12px;
}

.navbar_menu li:hover {
    background-color: #07FFC3;
    border-radius: 4px;
}

.navbar_icons {
    display: flex;
}

.navbar_icons li {
    padding: 0px 2px;
}

.navbar_toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    top: 15px;
}

@media screen and (max-width:768px) {
    .navbar {
        padding: 8px 24px; 
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar_menu {
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .navbar_menu li {
        width: 100%;
        text-align: center;
    }

    .navbar_icons {
        width: 100%;
        padding: 0;
        display: none;
        justify-content: center;
    }

    .navbar_toggleBtn {
        display: block;
    }

    .navbar_menu.active,
    .navbar_icons.active {
        display: flex;
    }
}
/* nav end */


/* main (1/2 - profile) start */
.main {
    width: 100%;
    height: 100vh;
    display: flex;
}

.main_profile {
    width: 28%;
    height: 100%;
    background-image: url(./image/main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.profile_icon {
    padding: 14px;
    display: flex;
    justify-content: flex-end;
}

.profile_area {
    height: 400px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.profile_area a {
    color: black;
    font-size: 34px;
}


@media screen and (max-width:768px) {
    .main_profile {
        width: 100%;
        height: 100vh;
        background-image: url(./image/main.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .profile_area a {
        font-size: 50px;
    }

    .serch {
        display: none;
    }
}
/* main (1/2 - profile) end */


/* main (2/2 - home) start */
.main_home {
    width: 100%;
    height: 100%;
    background: rgba(64, 64, 65, 0.041);
}

.home_account h2 {
    font-size: 30px;
}

.home_list {
    height: 80%;
    margin: 0;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
}

.home_list li {
    background-color: #ffffff;
    width: 45%;
    height: 350px;
    margin: 15px;
    border: solid 2px #aeb4b32c ;
    border-top: solid 3px #7FC7FA; 
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home_list li a {
    color: black;
    font-size: 40px;
}

@media screen and (max-width:1232px) {

    .home_list li {
        width: 90%;
        height: 150px;
    }

    .home_list li a {
        color: black;
        font-size: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:768px) {

    .main_home {
        display: none;
    }
}
/* main (2/2 - home) end */

/* icon size */ 
.logo_image {
    width: 30px;
}

.logo2_image {
    width: 50px;
    height: 50px;
}

.twitter {
    width: 30px;
}

.facebook {
    width: 30px;
}

.square {
    width: 26px;
}

.serch {
    width: 30px;
    height: 30px;
}

.home_list img {
    width: 70px;
    height: 70px;
}